name: Qlty Checks

on:
  pull_request:
    branches:
      - master

permissions: 
  contents: read
  pull-requests: write

jobs:
  qlty:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qlty CLI
        uses: qltysh/qlty-action/install@main

      - name: Run qlty check
        run: qlty check

      - name: Run qlty fmt
        run: qlty fmt --check

